<nav class="topnav">
  <span>General Practice</span>
  <a href="/">Home</a>
  <a href="/doctors/dashboard">Dashboard</a>
  <a href="/doctors/appointments">Appointments database</a>
  <a href="/doctors/patients">Patients database</a>
</nav>