<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>

<!-- Optionally hide navbar from view -->
<% if (showNavbar) { %>
  <%- include('../partials/adminNavbar') %>
<% } %>

<main>
  <%- body %>
</main>

</body>
</html>