<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>

<%- include('../partials/navbar') %>

<main>
  <%- body %>
</main>

</body>
</html>