<form class="form-container" method="POST">
  <h1>Patient login</h1>
  <p>Please complete all fields.</p>
  <section>
    <p>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" minlength="4" maxlength="30" required />
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" minlength="8" maxlength="64" required />
    </p>
  </section>
  <section>
    <p><button type="submit">Enter</button></p>
  </section>
</form>
<p>Don't have an account? <a href="/patients/register">Register here</a></p>