<!doctype html>
<html>
  <head>
    <title>Patient login</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <form method="POST">
      <h1>Patient login</h1>
      <p>Please complete all fields.</p>
      <section>
        <p>
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </p>
        <p>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </p>
      </section>
      <section>
        <p><button type="submit">Enter</button></p>
      </section>
    </form>
  </body>
</html>