<!doctype html>
<html>
  <head>
    <title>Request</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <form class="form-container" method="POST">
      <h1>Request an appointment</h1>
      <section>
        <p>
          <label for="reason">Describe your symptoms or health concern:</label>
          <textarea id="reason" name="reason" rows="10" cols="50" required></textarea>
        </p>
      </section>
      <section>
        <p><button type="submit">Submit</button></p>
      </section>
    </form>
  </body>
</html>