<form class="form-container" method="POST">
  <h1>Request an appointment</h1>
  <section>
    <p>
      <label for="reason">Describe your symptoms or health concern:</label>
      <textarea id="reason" name="reason" rows="10" cols="50" required><%= reason || '' %></textarea>
      <div class="error-messages">
        <% if (errorMessage) { %>
          <ul>
              <li><%= errorMessage %></li>
          </ul>
        <% } %>
      </div>
    </p>
  </section>
  <section>
    <p><button type="submit">Submit</button></p>
  </section>
</form>