body {
  background-color: rgb(250 249 246 / 100%);
  /* background-color: #FAF9F6; */
}

h1 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-container {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 1em;
}

.form-container label span {
  display: inline-block;
  text-align: right;
}

.form-container input,
fieldset {
  font: 1em sans-serif;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #999999;
}

.form-container input[type="checkbox"],
input[type="radio"] {
  width: auto;
  border: none;
}

.form-container button {
  margin-top: 20px;
}

.form-container label {
  display: inline-block;
}

.form-container p label {
  width: 100%;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

nav span {
  padding: 14px 16px;
  font-size: 24px;
  font-weight: bold;
}

nav a {
  padding: 14px 16px;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  background-color: #ddd;
}